@if(skeletonCode){
<div class="p-2 sm:p-4">
  <div class="flex justify-between items-center mb-4">
    <!-- Container title -->
    <span class="text-md font-semibold">Output Skeleton Code</span>
  </div>

  <!-- Textarea with the content -->
  <div>
    <textarea
      pTextarea
      [(ngModel)]="skeletonCode"
      style="resize: none"
      readonly
      class="w-full h-40 p-2 border rounded"
    ></textarea>
  </div>

  <!-- Copy button -->
  <div class="flex justify-end mt-4 secondary-font">
    <button
      class="hover:shadow-lg transition-shadow duration-500"
      pButton
      size="small"
      severity="primary"
      (click)="copyToClipboard()"
      [disabled]="!skeletonCode"
      [label]="isCopied ? 'Copied!' : 'Copy'"
    >
      <lucide-icon
        size="16px"
        [name]="isCopied ? ClipboardCheck : Clipboard"
      ></lucide-icon>
    </button>
  </div>
</div>
}

<p-toast position="top-right"></p-toast>
