<div class="p-6 sm:p-8">
  <div class="flex justify-between items-center mb-4">
    <span class="text-lg font-medium">Output Skeleton</span>

    <button
      pButton
      size="small"
      severity="primary"
      (click)="copyToClipboard()"
      [disabled]="!skeletonCode"
      class="disabled:opacity-50 disabled:cursor-not-allowed"
      [label]="isCopied ? 'Copied!' : 'Copy to clipboard'"
    >
      <lucide-icon
        size="16px"
        [name]="isCopied ? ClipboardCheck : Clipboard"
        class="transition-transform duration-500"
      ></lucide-icon>
    </button>
  </div>

  <div>
    <p-iftalabel>
      <textarea
        pTextarea
        [(ngModel)]="skeletonCode"
        style="resize: none"
        readonly
        class="w-full h-40 p-2 border rounded"
      ></textarea>
    </p-iftalabel>
  </div>
</div>

<p-toast position="top-right"></p-toast>
