<div class="p-2 sm:p-4">
  <div class="flex justify-between items-center mb-4">
    <!-- Container title -->
    <span class="text-md font-semibold">Input Code</span>

    <!-- Info button -->
    <div class="flex items-end">
      <button
        pButton
        size="small"
        severity="primary"
        pTooltip="Info"
        tooltipPosition="top"
        showDelay="200"
        [rounded]="true"
        [text]="true"
        (click)="showInfoModal = true"
      >
        <lucide-icon
          size="16px"
          [name]="Info"
          class="transition-transform duration-500"
        ></lucide-icon>
      </button>

      <!-- Dialog to open the info -->
      <p-dialog
        header="How does the skeleton generator work?"
        [(visible)]="showInfoModal"
        [modal]="true"
        [closable]="true"
        styleClass="p-1"
      >
        <div class="text-sm">
          <p>
            To ensure accurate results, follow these simple rules when inserting
            your code:
          </p>
          <ul class="list-none px-1 space-y-2 mt-4">
            <li>✔️ Use only HTML + Tailwind CSS classes.</li>
            <li>✔️ Original dimensions and spacing will be preserved.</li>
            <li>
              ✔️ All placeholders will be
              <code class="bg-gray-200 px-1">bg-gray-300</code>.
            </li>
            <li>
              ✔️ The loading effect will be applied with
              <code class="bg-gray-200 px-1">animate-pulse</code>.
            </li>
            <li>✔️ No real text or images will be displayed.</li>
          </ul>
          <p class="mt-4">
            Please be advised that AI can generate some errors.
          </p>
        </div>
      </p-dialog>
    </div>
  </div>

  <!-- Textarea with the content -->
  <div>
    <textarea
      pTextarea
      [(ngModel)]="inputCode"
      style="resize: none"
      class="w-full h-50 p-2 border rounded"
    ></textarea>

    <!-- Generate button -->
    <div class="flex justify-end mt-4 secondary-font">
      <button
        class="hover:shadow-lg transition-shadow duration-500"
        pButton
        size="small"
        severity="primary"
        [label]="isLoading ? 'Generating...' : 'Generate'"
        [disabled]="!inputCode || isLoading"
        [loading]="isLoading"
        (click)="generateSkeleton()"
      >
        @if(!isLoading){
        <lucide-icon size="16px" [name]="Send"></lucide-icon>
        }
      </button>
    </div>
  </div>
</div>
