@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  --font-secondary: "Space Grotesk", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.secondary-font {
  font-family: var(--font-secondary);
}
