@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  /* --font-primary: "Oxygen", sans-serif; */
  --font-secondary: "Space Grotesk", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-primary); */
}

.title-text {
  font-family: var(--font-secondary);
}
